packages:
  yum:
    mod_ssl : []
    
## The use of setup.sh is so we can access MODE environment variable and 
## to decouple ebextensions from explicit mode values    
files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -e
      set -x
      echo running setup.sh
      aws s3 --source-region ${region} cp s3://amsa-maven-setup-${MODE}/server.pem /etc/pki/tls/certs/server.crt
      chown root:root /etc/pki/tls/certs/server.crt
      chmod 0400 /etc/pki/tls/certs/server.crt
      aws s3 cp --source-region ${region} s3://amsa-maven-setup-${MODE}/server-private-key.pem /etc/pki/tls/certs/server.key
      chown root:root /etc/pki/tls/certs/server.key
      chmod 0400 /etc/pki/tls/certs/server.key

container_commands:
  01_killhttpd:
    command: "/sbin/service httpd stop"
  02_waitforhttpddeath:
    command: "sleep 3"
  03_setup:
    command: "/home/ec2-user/setup.sh"  
  04_copysslconf:
    command: "cp .ebextensions/httpd/conf.d/ssl.conf /etc/httpd/conf.d/ssl.conf" 
  05_starthttpd:
    command: "/sbin/service httpd start"
