packages:
  yum:
    mod_ssl : []

files:
  ## add dummy certificate so ssl config works on apache startup
  ## these certs will be overriden from s3
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDtjCCAp4CCQCVwqI1sJ9WxzANBgkqhkiG9w0BAQsFADCBnDELMAkGA1UEBhMC
      QVUxEzARBgNVBAgMClNvbWUgU3RhdGUxEjAQBgNVBAcMCVNvbWUgQ2l0eTEVMBMG
      A1UEAwwMbXlkb21haW4uY29tMRMwEQYDVQQKDApNeSBDb21wYW55MRMwEQYDVQQL
      DApNeSBTZWN0aW9uMSMwIQYJKoZIhvcNAQkBFhRteWVtYWlsQG15ZG9tYWluLmNv
      bTAeFw0xNzA4MjgxMTAzNTlaFw0yNzA4MjYxMTAzNTlaMIGcMQswCQYDVQQGEwJB
      VTETMBEGA1UECAwKU29tZSBTdGF0ZTESMBAGA1UEBwwJU29tZSBDaXR5MRUwEwYD
      VQQDDAxteWRvbWFpbi5jb20xEzARBgNVBAoMCk15IENvbXBhbnkxEzARBgNVBAsM
      Ck15IFNlY3Rpb24xIzAhBgkqhkiG9w0BCQEWFG15ZW1haWxAbXlkb21haW4uY29t
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAu9pX0w1NhgH7Gsqv21vf
      ZoycBCvYrPxf4ukY/DuI7nc4uV6BEDx6/H/nQ85z5b2FrOK8Dt/aJgZAGInbqxgk
      vpoB+nRetXFKg3slkYd3gKUUvz3tee+DH14rJgeHbWbPSSWYu2l6cUZs3jWZcNkJ
      wMORcZb/Jv0XGgomhAmdklmGajn4xJbHP03mZp97XeJeNFxVR+mqDQDnCFasabY8
      qexTdnBUwCtMTQ8DE0EV3pkQ4qmuR3a/aMh49JFrTQnE1+Xdksmj0mYmo+4oDFlk
      IO3Xg57JVipeIXnOINgk0hLQkxpQ+jAsx6eGz/zHsIPMTyTqTpk4bFf/AD24EoAu
      TQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQBQjO1jJQdz9gjErTeDI7p9ImPeB2wi
      4u6qx5Qi4RogFwuXlCycO6yoXGGLs5cmUF4MBrboBJxUjWQyEgYSJW1iOhH9alh2
      CXwe8ZGRUHRHLfz+/8Fm+8TqdbF2lU9fc+bn25ni4AuSytuMkisxwo3u34lOjeVZ
      81ptIK1N1aFKNSr2x0n85M8YIFzcdQj0JZrrANH39KkordNFHF9gZ1Qib/L7x76R
      96cZLmVWPk9Wzh994aoDLv0UuExjnTS4zLc5AMjBF1l+Z98qj+OVptMOvsIbBhZn
      PdVlKvYuZkvOxcFpXBscepQnpFnXs4jqDILp22BTnteH358BsI/qD+zB
      -----END CERTIFICATE-----


  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAu9pX0w1NhgH7Gsqv21vfZoycBCvYrPxf4ukY/DuI7nc4uV6B
      EDx6/H/nQ85z5b2FrOK8Dt/aJgZAGInbqxgkvpoB+nRetXFKg3slkYd3gKUUvz3t
      ee+DH14rJgeHbWbPSSWYu2l6cUZs3jWZcNkJwMORcZb/Jv0XGgomhAmdklmGajn4
      xJbHP03mZp97XeJeNFxVR+mqDQDnCFasabY8qexTdnBUwCtMTQ8DE0EV3pkQ4qmu
      R3a/aMh49JFrTQnE1+Xdksmj0mYmo+4oDFlkIO3Xg57JVipeIXnOINgk0hLQkxpQ
      +jAsx6eGz/zHsIPMTyTqTpk4bFf/AD24EoAuTQIDAQABAoIBAQCvbKIRPF4F47mr
      9lWtIqmH6Y0UtCF+wZuFmioz+iDQmFNHgEJEeEZdn8/G2XgPtiGsJnx543+jfLjE
      cZDKwRwnRkjMq3l6NVbhW9Hkij4Fy6OJR/qJoSqw0062D9ffSWAPreVoNoMaXyrx
      g9pLsNLTyY38JocV0MmPDqWTLiuQ6x8an+He1wxDfn1iOS9HR1E2/zON4K1F79f9
      4EqN8prcOAbqxJScbIlNARJ/6wYTaYlPLs8iz0AZaMzUNZ3wfFL5Df/76QurIqdF
      E7HoM+wWNXllIBbLxF0tby6yuZLupV0kQtucvbz2dZpzXta82XvzDAEpU4hzyT0b
      mUmS+q7dAoGBAPalzoYBjsMjTwuaPi9NBjziYZV+D+aJMncDi6drYKGOjr64fDgB
      E9mfipCGlf4IGYvaTQ55+2TvCYVnUKPqUgsJp+XXvrOYh0sKcWMmv8z/3c//A+H2
      hdR/0rzVoAPP1SLzXvlD4lpyvSIh841Pu6e8+t2XpEfBwc5nNErpEQvTAoGBAML5
      0bTdsIRUtGP5jr8w4LZshuAThQM4/nqaTGZxQXp32c0Zfr3cVGg1t2oZmQKjDcUe
      4dubk+ltzMMvNdo2bGbW83grCnAtXLmToJIqqCQ+hDqW0u4vHJJKfcCK50HoGbse
      o1IO9+BCk0JFZg0ZW3IkLaND/oQJzd+hHMe3mClfAoGBALzgzl2qlbPztxWQgaxh
      VLSNO+NqDS0ixWWEbo6/2Nj/PWrqBh4xHQ1bcpYoqnZFp6KEgtviJ9TshKMHMibE
      Sx2uwEdvxtbrqDecAKbIRrrq+ebNSCDjUyse07fN8+LXZkWEj6ddB9rx4Mphq4v8
      khzqyEWnWaOlyg+Q0ufGwUoHAoGAfDMM3ay2K6WVf3XR84JcMnhxdj2Y5lOg71Jo
      xnzwm+XKrPbHoIPAlN1a59BEgsSBGgcxEmZJU1HpNJBXOpiedugIEY1BSfHrdh9P
      EqzvjJ7yNiwrUyRZi+q9rjANXhNOiL7chIIabhWanoV8m22CrfPTyoOelld0eDa2
      EZam6/sCgYBYIJEaRywYq9pzsWzBjGnvJs9StLL/pc801A5zh7YRFsu8jE/Mg/xR
      6ocbdx8/cVpamHX3fDgC0zYJoqx2JPwTzYVmzSyDCxk91b7mvxD+AbKklvlyvt8+
      Lw0C57yS9roemzZbI/zWW0In07W4G9W1e+x127IZSd/RB+o82Oq0Rw==
      -----END RSA PRIVATE KEY-----


  ## The use of setup.sh is so we can access MODE environment variable and 
  ## to decouple ebextensions from explicit mode values    
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -e
      set -x
      echo running setup.sh
      aws s3 cp s3://${bucketKeysPrefix}-${MODE}/server.pem /etc/pki/tls/certs/server.crt
      chown root:root /etc/pki/tls/certs/server.crt
      chmod 0400 /etc/pki/tls/certs/server.crt
      aws s3 cp s3://${bucketKeysPrefix}-${MODE}/server-private-key.pem /etc/pki/tls/certs/server.key
      chown root:root /etc/pki/tls/certs/server.key
      chmod 0400 /etc/pki/tls/certs/server.key

container_commands:
  01_killhttpd:
    command: "/sbin/service httpd stop"
  02_waitforhttpddeath:
    command: "sleep 3"
  03_setup:
    command: "/home/ec2-user/setup.sh"  
  04_copysslconf:
    command: "cp .ebextensions/httpd/conf.d/ssl.conf /etc/httpd/conf.d/ssl.conf" 
  05_starthttpd:
    command: "/sbin/service httpd start"
